<div class="row">
  <div class="col-md-7" style="padding-left:20%;">
    <div class="card" style="width:400px">
      <img class="card-img-top img-circle" src=" <%= session[:myimage] %> " alt="Card image" style="width:150px;">
      <div class="card-body" style="padding-left:20px">
        <h4 class="card-title"> <%= session[:myname] %> </h4>
        <p class="card-text"> 性別:<%= session[:mygender] %> </p>
        <p class="card-text">  生年月日:<%= session[:myage] %> </p>
        <p class="card-text"> 住所: <%= session[:myaddress] %> </p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">イイネ！したアイテムを見る</a>



      </div>
<!-- 以下modalの中身 -->
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">あなたがイイネ！したアイテム</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        <!-- Modal body.. -->

                        <% if @likes.empty?  %>
                          いいねしたアイテムがありません
                        <% end %>


                        <% @likes.each do |like| %>
                         <% p = Product.find_by(id: like.product_id) %>
                         <% @likes_count = Like.where(product_id: p.id).count %>
                         <div class="" style="padding-bottom:20px;">
                           <a href="/products/<%= p.id %>">
                           <%= image_tag(p.image, :width => "158px") %>
                           <%= p.name %>
                           ¥<%= p.price %>
                           <span id="kinds"> # <%= p.category_id %> </span>
                           <span id="kinds"> # <%= p.state_id %> </span>
                           <span id="kinds"> # <%= p.scene_id %> </span>
                           <% if Like.find_by(customer_id: @current_customer, product_id: p.id) %>
                           <!-- @current_customer.idだとうまく挙動しなかった -->
                            <!-- いいね！済み -->
                            <%= link_to("/likes/#{p.id}/destroy", {method: "post"}, name: 'back') do %>
                            <!-- name: 'back' つけたけどこの画面にリダイレクトすることができなかった。 -->
                              <span class="fa fa-heart like-btn-unlike"></span>
                            <% end %>
                           <% else %>
                            <!-- いいね！していません -->
                            <%= link_to("/likses/#{p.id}/create", {method: "post"}, name: 'back') do %>
                              <span class="fa fa-heart like-btn"></span>
                            <% end %>
                           <% end %>

                           <%= @likes_count %>
                           </a>
                         </div>

                        <% end %>

<!-- フロントぐちゃぐちゃ -->

                      </div>



                      <div class="modal-body">
                        Modal body..
                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">確認</button>
                      </div>

                    </div>
                  </div>
                </div>
<!-- 以上modalの中身 -->
    </div>
  </div>
  <div class="col-md-offset-4">
    <h2>宅配待ちアイテム</h2>
     <% if @got_items %>
      <% @got_items.each do |item| %>
       <% @giver = Customer.find_by(id: item.customer_id) %>
       <% @recipient = Customer.find_by(id: item.recipient_id) %>
       <% @gift = Product.find_by(id: item.product_id) %>
       <h3> <%= @giver.name %>からのプレゼントの <%= @gift.name %> を選択しました。</h3>
      <% end %>
     <% else %>
       宅配待ちのアイテムは現在ありません
     <% end %>

  </div>

</div>

<div class="row">

  <div class="col-md-3" style="width:400px; padding-left:50px;">
    <h1>受け取ったカタログ</h1>
    <% @catalog.each do |catalog| %>
    <% object_name = catalog.product_id %>
    <% object_name = object_name.split(",") %>
    <% object_name = object_name.reverse %>
    <% update = catalog.updated_at %>
    <% limited_date = update + 14 %>
    <% giver_id = catalog.user_id %>
    <% giver = Customer.find_by(id: giver_id) %>
    <table class="table" style="width:300px; border: solid 1px;" >
    <a  href="/users/<%= catalog.id %>">
      <%= update %>に<%= giver.name %>からカタログギフトがプレゼントされました。
        <thead class="">
          <tr>
            <th></th>
            <th>商品</th>
            <th>カテゴリー</th>

          </tr>
        </thead>

        <% a = 0 %>
        <% object_name.each do |object_num| %>
          <% gift_product = Product.where(id: object_num) %>
          <% gift_product.each do |p| %>

            <tbody>
              <tr>
                <td> <%= image_tag(p.image, size: "60x60", alt: "Edit Entry") %> </td>
                <td> <%= p.name %> </td>
                <td> <%= p.category_id %> <br>
                     <%= p.state_id %> <br>
                     <%= p.scene_id %>
                </td>

                <% a = a+1 %>
              </tr>
            </tbody>
          <% end %>
        <% end %>
        </a>
    </table>
    <% end %>

  </div>







   <div class="col-md-6" style="width:600px; padding-left:30px;">
     <h1>送ったカタログ</h1>
         <% @forder.each do |finalorder| %>
         <% @pro = finalorder.product_id  %>
         <% @q = finalorder.quantity %>
         <% @update = finalorder.updated_at %>
         <% @proid = @pro.split(",")  %>
         <% @proidx = @proid.reverse  %>
         <% @quan = @q.split(",")  %>
         <% @quanx = @quan.reverse  %>
         <% @recipient = Customer.find_by(id: finalorder.recipient_id) %>
         <table class="table" style="border: solid 1px;">
           <%= @update %>に<%= @recipient.name %>にプレゼントしました。
             <thead class="">
               <tr>
                 <th></th>
                 <th>商品名</th>
                 <th>カテゴリー</th>
                 <th>個数</th>
                 <th>値段</th>
                 <th>When you bought</th>
               </tr>
             </thead>

         <%  a = 0;
          @proidx.each do |pr|
           @product = Product.where(id: pr)
           @product.each do |p|

              %>
              <tbody>
                <tr>
                  <td> <%= image_tag(p.image, size: "60x60", alt: "Edit Entry") %> </td>
                  <td> <%= p.name %> </td>
                  <td> <%= p.category_id %></td>
                  <td> <%= @quanx[a] %> 個</td>
                  <td> ¥<%= p.price.to_i * @quanx[a].to_i %> </td>
                  <td> <%= @update %></td>
                  <% a = a+1 %>
                </tr>
              </tbody>

         <% end %>
       <% end %>
     <% end %>
         </table>



   </div>

   <div class="col-md-3" style=" padding-left:50px;">
     <h1>お会計</h1>
  <% if @decisions %>
    <% @decisions.each do |decision| %>
     <% @giver = Customer.find_by(id: decision.customer_id) %>
     <% @recipient = Customer.find_by(id: decision.recipient_id) %>
     <% @gift = Product.find_by(id: decision.product_id) %>
     <h3> <%= @recipient.name %>さんが <%= @gift.name %>を選択されました。お会計は ¥<%= @gift.price %>です。 </h3>
    <% end %>
  <% else %>
   送り相手がまだプレゼントを選択していません。
   なんかできてない。。
  <% end %>


   </div>
</div>
