<div class="f-container-1">
  <%= form_with(model: finalorder, local: true) do |form| %>
    <% if finalorder.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(finalorder.errors.count, "error") %> prohibited this finalorder from being saved:</h2>

        <ul>
        <% finalorder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :username %> <br>
      <%= form.text_field :username, value: @customer.name%>
    </div>

    <div class="field">
      <%= form.label :phonenumber %><br>
      <%= form.number_field :phonenumber, id: :hello %>
    </div>

    <div class="field">
      <%= form.label :address %><br>
      <%= form.text_field :address, id: :finalorder_address %>
    </div>

    <div class="field">
      <%= form.label :email %><br>
      <%= form.text_field :email, value: @customer.email%>
    </div>

    <input type="button" name="" value="Next" class="btn btn-success fbtn1">
  </div>


  <div class="f-container-2">
    <div class="field">
      <%= form.label :delivery %><br>
      <%= form.radio_button :delivery,"home", :checked => true %>Home
      <%= form.radio_button :delivery, 'office' %>Office
      <%= form.radio_button :delivery, 'conviniencestore' %>Convinience Store
    </div>

    <div class="field">
      <%= form.label :payment %><br>
      <%= form.radio_button :payment,"card", :checked => true %>Card
      <%= form.radio_button :payment,"cash"%>Cash on Delevery
      <%= form.radio_button :payment,"bank"%>Bank transfer
      <%= form.radio_button :payment,"convini"%>Convinience Store
    </div>

    <input type="button" name="" value="Next" class="btn btn-success fbtn2">
    <a class="fbtn-back1">Back</a>
  </div>

  <div class="f-container-3">
      <div class="field">
        <%= form.label :gift %><br>
        <%= form.radio_button :gift, "wrap"%>Gift wrapping
        <%= form.radio_button :gift, "no", :checked => true %>No wrapping
      </div>


      <div class="actions">
        <%= form.submit class: "btn btn-success"%>
      </div>
      <a class="fbtn-back2">Back</a>
    <% end %>
  </div>
