<div class="col-md-offset-2">
<h2>カタログリスト（確認）</h2>
  <table class="table" style="width:500px">
      <thead>
        <tr>
          <th></th>
          <th>商品</th>
          <th>値段</th>
          <th>個数</th>
        </tr>
      </thead>

      <%
      pr = 0;
      @cart.each do |cart|
      @productone = Product.find_by(id: cart.product_id)
      pr = pr + cart.subtotal
      # ココどうやって書こうか
      %>

      <tbody>
        <tr>
          <td> <%= image_tag(@productone.image, :width => "50px", :height => "50px") %> </td>
          <td> <%= @productone.name %></td>
          <td> ¥<%= cart.productprice %> </td>
          <td> <%= cart.number %> </td>
        </tr>
      </tbody>
      <% end %>
      <thead>
        <tr style="font-size:20px">
          <th></th>
          <th></th>
          <th>合計( <%= @cart.count %> items)</th>
          <th style="color:rgb(231, 137, 51)">:¥<%= pr %> </th>
        </tr>
      </thead>
    </table>


<p id="notice"><%= notice %></p>

<p>
  <strong>送り元:</strong><br>
  <%= @finalorder.username %>
</p>
<p>
  <strong>送り先:</strong><br>
  <% @recipient = Customer.find_by(id: @finalorder.recipient_id) %>
  <%= @recipient.name %>
  <!-- <%= @finalorder.recipient_id %> -->

</p>

<!-- <p>
  <strong>Phone Number:</strong><br>
  <%= @finalorder.phonenumber %>
</p>

<p>
  <strong>Address:</strong><br>
  <%= @finalorder.address %>
</p> -->

<p>
  <strong>Mail Address:</strong><br>
  <%= @finalorder.email %>
</p>

<!-- <p>
  <strong>Delivery:</strong><br>
  <%= @finalorder.delivery %>
</p>

<p>
  <strong>Payment:</strong><br>
  <%= @finalorder.payment %>
</p> -->

<!-- <p>
  <strong>Gift:</strong><br>
  <%= @finalorder.gift %>
</p> -->
<%= link_to faction_path do %>
<button type="button" class="btn btn-success" style="margin-top:30px;">カタログを送る</button>
<% end %>
<%= link_to 'Edit', edit_finalorder_path(@finalorder) %> |
<%= link_to 'Back', finalorders_path %>

</div>
