




<script type="text/javascript"src="jquery.js">

</script>
<!-- これいる？？ -->




<script>
$(document).ready(function(){
  // alert('インラインでやってます');

   var n = 1;
   n = parseInt(n);
   var pp =0;
   pp = parseInt(pp)

     pp = <%= @product.price %>;
     ans = pp*n
     $(".sumup").text(ans)


  $("#cart_number").change(function(){
    n = $("#cart_number").val();
    // idにしたほうがいいかも
alert("#cart_numberは勝手に与えられたドロップボクス内のIDなんだお")
    // pp = $(".productprice").val();
    pp = <%= @product.price %>;
    // ココの書き方めちゃ大事やん
    // alert(pp);
    ans = pp*n
    $(".sumup").text(ans);
    $("#cart_subtotal").val(ans);
  });

});
// ↑↑↑↑↑↑↑↑↑↑ここむずかしいぞーーーーーーーー
</script>




<body>
  <div class="whole container-fluid">



 <div class="row container-show">
   <div class="col-md-5">
     <% p = @product %>
     <%= image_tag(p.image, :width => "450px") %>
   </div>
   <div class="col-md-7">
     <h1> <%= @product.name %> </h1>
     <!-- ↓ココに見えないフォームをつくってcartに飛ばしてデータベースに保存する -->
     <%= form_for(:cart, url: '/carts') do |form| %>
       <%= form.hidden_field :userid, value: session[:myid]%>
       <%= form.hidden_field :productname, value: p.name%>
       <%= form.hidden_field :productprice, value: p.price%>
       <%= form.hidden_field :subtotal, value: p.price, id: "cart_subtotal" %>
       <!-- id cart_subtotalから値を取ってきてる -->
       <!-- ココでどうやってsubtotal送ればいいのかがわからん -->
<!-- このIDについて、いつテーブル作ったのかもどのように値取得してるのかもわからんし -->
       <%= form.hidden_field :product_id, value: p.id %>



     <h3 style="border-bottom:1px solid gray"> ¥<%= p.price %> </h3>
     <!-- <h3 style="border-bottom:1px solid gray"> Rs.<%= link_to(p.price, :class => "productprice", :value => p.price) %> </h3> -->
     <!-- link_toにクラスとバリュをつけてヤッてみたが、Undefinedで返ってきてうまく値の受け渡しができなかった。 -->

     <span>個数:</span>
     <!-- <input class="gnum" type="number" name="" value="1" required min="1"> -->
     <%= form.select :number, options_for_select(1..10) %>

     <span style="padding-left:200px;">小計: ¥</span>
     <span style="font-size:20px; color:rgb(255, 115, 71)" class="sumup"></span><br>

       <%= form.submit "Add to a cart", class: "answer-show btn btn-warning btn-block", style: "margin-top:50px; border-radius:0%;"%>
       <!-- ここから情報を飛ばす↑ -->
       <!-- ログインしてないときの処理はコントローラーに行って書く -->

    <% end %>
   </div>

 </div>
 <div class="row bottom-show">
   <div class="col-md-12" style="border-radius:10px; background-color:rgba(242, 242, 242, 0.89);border:1px solid rgb(203, 203, 203);margin-top:20px">
     <h4>関連商品</h4>

     <% @productsub.each do |ps| %>
     <a href="/products/<%= ps.id %>"><span class="row" style="float:left; margin:10px">
       <div class="" style="float:left">
         <%= image_tag(ps.image, :width => "100px") %>
       </div>
       <div class="" style="float:left">
         <%= ps.name %> <br>
         Rs.<%= ps.price %>
         <div id="kinds"> # <%= ps.category_id %> </div>
       </div>
     </span></a>
     <% end %>


   </div>
 </div>

  </div>


</body>
