<!-- レンダーのルビータグをつかってファイルパスを指定する -->
<!-- _名前のhtmlファイルをつくってそこに↑のものを書く -->
  <!-- <span> <%= button_to 'ITEM', users_home_path, method: :get %> </span> -->


<!-- <div class="head row"> -->
  <!-- <div class="col-md-5"> -->
<!-- <div class="hbutton1"> -->

<!-- </div> -->

<!-- </div> -->
    <!-- ココにカテゴリービューを作りたい -->

  <!-- </div> -->
  <!-- <div class="col-md-7"> -->

  <!-- <%= image_tag("ecsite_pic/head1.png", :class => "hpic") %> -->
  <!-- イメージタグにクラスつける方法 -->


<a class="navbar-brand" href="#" style="font-size: 60px; margin-top:20px; color:rgba(93, 93, 93, 0.61)">Ateam-EC</a>


<div class="hbutton1">


  <!-- <%= link_to users_home_path do %>
  <%= fa_icon("home", text: "Home")%>
    <input class ="hbutton btn btn-info" type="button" name="" value="HOME">
  <% end %> -->
  <!-- もともとのやつ↑ -->

  <!-- <form class="form-inline" action="/action_page." style="margin-bottom:10px; margin-top:-10px; margin-left:280px">
      <input class="form-control mr-md-2" type="text" placeholder="まだ使えません">
      <button class="btn" type="submit" style="background-color:rgb(105, 107, 108)">
        <%= fa_icon("search", text: "Search")%>
      </button>
  </form> -->
<!-- 検索欄 -->


  <%= link_to users_home_path do %>
    <button class ="hbutton btn btn-outline-info" type="button" >
      <%= fa_icon("home", text: "Home")%>
    </button>
  <% end %>
  <!-- 埋め込みフォントオウサム対応 -->


<!-- <div class="dropdown" style="padding-left:70px;"> いらなかった？6/27-->
    <button class ="hbutton btn btn-outline-info itembutton dropdown-toggle" type="button" data-toggle="dropdown">
      <%= fa_icon("book", text: "Category" )%>
    </button>
  <div class="dropdown-menu" style="margin-left:1000px">
    <% Category.all.each do |c| %>
    <!-- ローカル変数で定義したかったけど、Category.allでとってこれてしまった。 -->
      <span class="tab2">  <button type="button" name="button" class="categoryb2" value="<%= c.name %> "><%= c.name %></button> </span> <br>
    <% end %>
  </div>


  <% if session[:myid] %>
    <%= link_to logout_path do %>
      <!-- <input class =" btn btn-danger" type="button" name="" value="LOGOUT"> -->
      <button class ="hbutton btn btn-outline-info" type="button" name="" value="LOGOUT">
        <%= fa_icon("sign-out", text: "Logout")%>
      </button>
    <% end %>
  <% else %>
    <%= link_to login_path do %>
      <button class ="hbutton btn btn-outline-info" type="button" name="" value="LOGIN">
        <%= fa_icon("sign-in", text: "Login")%>
      </button>
    <% end %>

    <%= link_to new_customer_path do %>
      <button class ="hbutton btn btn-outline-info" type="button" name="" value="REGISTAR">
        <%= fa_icon("registered", text: "Register")%>
      </button>
    <% end %>
  <% end %>



  <%= link_to carts_path do %>
    <button class ="hbutton btn btn-outline-info" type="button" name="" value="CART" style="height: 44px">
      <%= fa_icon("cart-plus", text: "Cart")%>
    </button>
  <% end %>

  <% unless session[:myimage].blank? %>
  <%= link_to users_show_path do %>
  <button class ="hbutton btn btn-outline-info" type="button">
    <span> <%= image_tag(session[:myimage], width: "29px", style: "border-radius:100%; margin: 0px;") %> </span>
    <span> <%= session[:myname] %>  </span>
    <span> <%= session[:myage] %> </span>
    <span> <%= session[:mygender] %> </span>
  </button>
  <% end %>
  <% end %>




  </div>
