<!DOCTYPE html>
<html>
  <head>
    <title>Ecsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css"> -->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->
    <!-- フォントオウサムのインストール -->
  </head>

  <body>
    <!-- <div class="whole container-fluid"> -->
    <div class="" id="fixed">

    <%= render "layouts/header", categories: @categories %>

<!-- ↑だめだった いけた -->
<!-- partial必要？ -->
<% if flash[:notice]%>
  <div class="flash">
    <%= flash[:notice]%>
  </div>
<% end %>
    </div>




<div style="margin-top:150px">
  <!-- fixed-topに合わせるための余白 -->
  <%= yield %>

</div>
    <div class="bottom">
      <p class="bword">Copyright © MISAO Co.,ltd. All Rights Reserved.</p>
    </div>

    <!-- <button class="samplebuttom"type="button" name="button">aaaaaaaaaaas</button>
    <div class="samplebuttom">
      <h1>aaaaaa</h1>
    </div> -->

  </body>
</html>
